:root {
    --primary-color: #0077b6;
    --secondary-color: #48cae4;
    --background-color: #f0f8ff;
    --text-color: #333;
    --shadow-color: #caf0f8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pt-18 {
    padding-top: 4.5rem;
}